# Python bytecode
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Conda and virtual environments
env/
.venv/
venv/
base/
Lib/
Scripts/
*.conda
*.env

# Pip logs
pip-log.txt
pip-delete-this-directory.txt

# Logs and caches
*.log
.cache/
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Jupyter runtime
.jupyter/

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db
